body{
    background: no-repeat  url("http://4.bp.blogspot.com/-qHro_tQN3dI/UkNWtIyZzhI/AAAAAAAATT4/sGN6GFvWV8E/s1600/Fondos+Wallpaper+Gratis+Abstractos+%252871%2529.jpg");
    background-size: cover;
}
nav {
    border-radius: 8px;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-1 {
    background: #a48623;
}

.link-1 {
    transition: 0.3s ease;
    background: #a48623;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #a48623;
    border-bottom: 4px solid #a48623;
    padding: 20px 0;
    margin: 0 20px;
}

.link-101 {
    transition: 0.3s ease;
    background: #a48623;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #a48623;
    border-bottom: 4px solid #a48623;
    padding: 20px 0;
    margin: 0 20px;
}
.link-1:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
}
